body {
  background-color: #1E1B27;
}

.header {
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:5%;
  flex-direction: column;

}
.title {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-size:4vw;
  color: #F5F5F9;
  text-align:center;
  justify-content: center;
  padding-bottom:2vh;
  font-weight:700;

}

.subtitle {
  font-family: "Archivo", sans-serif;  font-style: normal;
  font-size:2vw;
  color: #F5F5F9;
  text-align:center;
  justify-content: center;
  width:50%;
  padding-bottom:40px;

}

#container {
  background-color: white;
  position:relative;
  width: 40vw; 
  height: 40vw;
  margin: auto; 
}

.buttons {
  display: flex;
  flex-direction: horizontal; 
  padding-bottom:40px;
}

.exampleButton {
  background-color: #BEB1CB;
  border-radius: 5px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Sora", sans-serif; 
  font-size: 1.3vw;
  white-space: nowrap;
  font-weight: 500;
  height: 4vw;
  width:13vw;
  letter-spacing: normal;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  margin-right:40px;
  font-weight:800;
 
}

.playButton {
  background-color: #8952E3;
  border-radius: 5px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Sora", sans-serif; 
  font-size: 1.3vw;
  font-weight:500;
  white-space: nowrap;
  font-weight: 500;
  height: 4vw;
  width:13vw;
  letter-spacing: normal;
  padding: 14px 30px;
  position: relative;
  text-align: center;
}